<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Test simple</title>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/main.js"></script>
</head>

<body>

	<style>

	</style>

	<section class="hero">
		<!-- <div class="container"> -->
			<div class="hero-wrapper">
				<h1 class="hero-title">Video</h1>
			</div>
		<!-- </div> -->

		<div class="video-wrap">
			<!-- <video class="video" muted loop playsinline data-src="/video/placeholder4.mp4"></video> -->
			<picture class="video-preview-wrap">
				<source media="(max-width: 743px)" srcset="/images/test3.jpg">
				<img class="video-preview" src="/images/placeholder4.jpg">
			</picture>
			<video class="video" autoplay muted loop playsinline src="/video/placeholder4.mp4"></video>
			<!-- <img class="video-preview-wrap" src="/images/test4.jpg"> -->
			<!-- <div class="video-preview-wrap"></div> -->
		</div>
	</section>

	<pre id="log"></pre>

	<script>
		// let videoWrap = document.querySelector('.video-wrap')
		// let video = videoWrap.querySelector('.video')
		// let dataSrc = video.dataset.src
		// video.src = dataSrc;
		
		// setTimeout(() => {
		// 	videoWrap.classList.add('play')
		// }, 2000);

		// let playPromise
		// playPromise = video.play()
		// if (playPromise !== undefined) {
		// 	playPromise.then(e => {
		// 		logger('then', e);
		// 		// setTimeout(() => {
		// 			videoWrap.classList.add('play')
		// 		// }, 500);
		// 	}).catch(error => {
		// 		logger('не загружается: ' + error);
		// 	});
		// } else {
		// 	logger('playPromise is undefined')
		// }

		

		// function handleEvent(event) {
		// 	log.textContent += `${event.type}\n`;
		// }


		// video.addEventListener("loadstart", handleEvent);
		// video.addEventListener("loadeddata", handleEvent);
		// video.addEventListener("loadedmetadata", handleEvent);
		// video.addEventListener("play", handleEvent);
		// video.addEventListener("playing", handleEvent);
		// video.addEventListener("progress", handleEvent);
		// video.addEventListener("canplay", handleEvent);
		// video.addEventListener("canplaythrough", handleEvent);




		// logger('playPromise:', playPromise)

		// let startTime = Date.now();
		// video.addEventListener('loadeddata', function onLoadedData(e) {
		// 	console.log('loadeddata');

		// 	let elapsedTime = Date.now() - startTime
		// 	let remainingTime = Math.max(0, 1000 - elapsedTime)

		// 	setTimeout(() => {
		// 		videoWrap.classList.add('play')
		// 	}, remainingTime);
		// })








	</script>















</body>

</html>